<!-- fin du contenu -->
    </div>
  </div>
</body>
<footer class="page-footer blue accent-1">
  <div class="container">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" class="breadcrumb">Accueil</a>
        <a href="{{.Params}}" class="breadcrumb">Liste des articles</a>
        <a href="#" class="breadcrumb">Retour en haut</a>
      </div>
    </div>
    <div class="col l6 s12">
      <h5 class="white-text">Engagez vous</h5>
      <p class="grey-text text-lighten-4">Vous souhaitez vous impliquer? Créer une <a href="/associations" class="white-text">association</a>? Organiser un <a href="/events"class="white-text">évênment</a>? </p>
    </div>
    <div class="col l6 s12">
      <h5 class="white-text">Votre mairie</h5>
      <p class="grey-text text-lighten-4">Nous sommes <a href="#" class="white-text">ici</a>, contactez nous à 05 xx xx xx xx de 8h à 15h, par <a href="#" class="white-text">mail</a></p>
    </div>
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">A propos</h5>
        <ul>
          <li><a class="white-text" href="/municipal-council">La mairie</a></li>
          <li><a class="white-text" href="/events">Agenda</a></li>
          <li><a class="white-text" href="/pds">plan du site</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Acteurs régionaux</h5>
        <ul>
          <li><a class="white-text" href="#">Conseil départemental</a></li>
          <li><a class="white-text" href="#">Conseil regional</a></li>
          <li><a class="white-text" href="#">Chambre de commerce</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container"> copyright mairie 2019 (c)
    </div>
  </div>
</footer>
<!-- scripts-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- backup scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/init.js"></script>
<!-- captain futur-->
  <script src="https://cdn.jsdelivr.net/npm/jdenticon@2.2.0" async></script>
</html>
