{{ printf "%#v" $.Site }}
<br>
<b>[TEST BOX]</b>

  <p>Achtung! no toml front matter on index</p>
  <p>{{ delimit (slice "foo" "bar" "buzz") ", " }}</p>
  <p>Tags: [[ delimit .Params.tags ", " ]]</p>
  [[.Site.Params]]

  <div>
    <a class="waves-effect waves-light btn-small">Go Debug</a>
    <a href="/post/debug" id="download-button" class="btn-large waves-effect waves-light blue lighten-1 centered">Go Debug</a>
  </div>
  <div class="col s3 m3">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pain</td>
          <td>Blanc</td>
          <td>€0.87</td>
        </tr>
        <tr>
          <td>Pétrole</td>
          <td>Rouge</td>
          <td>€3.76</td>
        </tr>
        <tr>
          <td>Jus</td>
          <td>de pomme</td>
          <td>€7.00</td>
        </tr>
      </tbody>
    </table>
  </div>
