{{partial "head.html" .}}
{{partial nav.html .}}
{{partial "search.html" .}}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h4 class="header center blue-text text-lighten-2">Bienvenue sur le site de la mairie</h4>
      <div class="row center">
        <a href="https://www.et3d.info" id="download-button" class="btn-large waves-effect waves-light blue darken-1">Theme Demo</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/images/cityblur.jpg" alt="Unsplashed"></div>
</div>

<div class="">
  <a>Ca se passe ici</a>
  <div class="row">
    {{range first 3 (where .Site.RegularPages "important" "==" "true")}}
      {{/*if (eq .Tag "ev")*/}}
      <div class="col">
        <a href="{{.Permalink}}">{{.Title}}</a>
      </div>
      {{/*end*/}}
    {{end}}
  </div>
</div>
{{partial "rangedtiles2.html" .}}
<br><br>
<div class="row">
  <div class="col s3 m3">
    <div >
      <a class="agenda"></a>
      {{partial "cal.html" .}}
      <br><br>
      <br><br>
    </div>
  </div>
</div>
<div>
<a href="https://www.et3d.info" class="btn-large waves-effect waves-light center blue darken-3" >Demo du thème</a>
<br><br>
</div>

{{/*partial "test-index.html"*/}}
{{partial "footer" .}}
